@import "foundation.css";

.mainContainer {
  position: relative;
  background-image: url('../images/landingPage/Elliott-01.jpg');
  height: 100%;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: 100% 100%;

}

.otherPagescontainer {
  background-color: silver;
  height: 100%;
  height: 100vh;
  width: 100%;
}